* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
